.row
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
.row
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
.row
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'
  =render :partial=> 'shared/tile'

