| Share price dynamics:
br
span[hidden="true"]= data = user.history.collect(&:price)
span[hidden="true"]= lc = GoogleChart::LineChart.new(size, "", false)
span[hidden="true"]= lc.show_legend = false
span[hidden="true"]= lc.data "price", data, '51c1ee'
= image_tag lc.to_url