p Twistock is а simulator of trade exchange where you can invest in Twitter-accounts. By buying and selling their stocks, you can earn virtual currency and then spend it on the real goods in Twistock Store. Twistock is the only place where you can monetize your social capital.

p Twistock robots counted value of the stocks of each Twitter-account. This valule depends on the social influence of account.

p After the initial login each new user receives the amount of virtual money that he deserve. This amount is equal to the value of his 1000 personal stocks. If a user has a great social influence, he will get a lot of virtual currency which is possible to immediately spend in Twistock Store. If a user are not so popular, he can earn virtual currency by buying and selling stocks of other Twitter-accounts.
p Cost of stocks of Twitter accounts also depends on the transactions of buying and selling: when buying a stock price increases, while sales - falles.

p Twistock is a very simple exchange. So start surfing it. 
p And If you have any questions - go to our blog: 
a href='http://twistock.posterous.com/' http://twistock.posterous.com/