p Twistock is а simulator of trade exchange where you can invest in Twitter accounts. By buying and selling their stocks, you can earn virtual money and then spend them on real goods in Twistock Store.

p Twistock web-robots count stock value of each Twitter account. This value depends on the social influence of it.  

p After the first login, each new user receives the amount of virtual money one deserves. This amount is equal to the value of his 100 personal stocks. If a user has great social influence,he gets a lot of virtual currency possible to spend in Twistock Store immediately. If a user is not so popular, he can earn virtual money by buying and selling stocks of other Twitter accounts. Price of stocks also depends on the transactions of buying and selling: when buying a stock price increases, while selling a stock - falls.

p Twistock is a supremely simple exchange, so start surfing it.
| And If you have any questions - go to our 
a[href='http://twistockblog.posterous.com/' target='blank'] blog.