p Twistock - это симулятор торговой биржи, где можно покупать и продавать акции Twitter-аккаунтов. Здесь можно заработать виртуальную валюту, чтобы потом тратить ее на реальные товары в Twistock Store.

p Роботы Twistock посчитали стоимость акций каждого Twitter-аккаунта. Эта величина зависит от "социального веса", каждого пользователя.

p На старте каждый новый игрок получает определенное число виртуальных денег (которое он заслуживает). Эта сумма равна стоимости 1000 его личных акций. Если человек обладает большим социальным весом - он получит много виртуальной валюты и сразу же сможет потратить ее в Twistock Store. Если человек не столь популярен, он сможет заработать виртуальные деньги, покупая и продавая акции других Twitter-пользователей. Цена акций также зависит от операций купли-продажи: при покупке - цена акций увеличивается, при продажи - падает.

p Все достаточно просто.  
| Если у вас есть вопросы - смело задавайте в нашем 
a[href='http://twistockblog.posterous.com/' target='blank'] блоге.