p Twistock - это симулятор торговой биржи, где продаются и покупаются акции Twitter-аккаунтов. Играя на бирже, можно заработать виртуальную валюту, чтобы потом потратить ее на реальные товары в Twistock Store.

p Роботы Twistock посчитали стоимость акций каждого Twitter-аккаунта, эта величина зависит от его "социального веса".

p На старте каждый новый игрок получает столько виртуальных денег, сколько заслуживает. Эта сумма равна стоимости 100 его личных акций. Если человек обладает большим "социальным весом" - он получит много виртуальной валюты и сразу же сможет потратить ее в Twistock Store. Если человек не столь популярен, он может заработать виртуальные деньги, покупая и продавая акции других Twitter-пользователей. Цена акций также зависит от операций купли-продажи: при покупке - цена акций растет, при продажи - падает.

p Все достаточно просто.  
| Если у вас есть вопросы - смело задавайте в нашем 
a[href='http://twistockblog.posterous.com/' target='blank'] блоге.