p Twistock is а simulator of trade exchange where you can invest in Twitter-accounts. By buying and selling their stocks, you can earn virtual currency and then spend it on the real goods in Twistock Store.

hr
a[href='/auth/twitter']
  =image_tag '/assets/sign-in-with-twitter.png'
