p Twistock - это симулятор торговой биржи, где продаются и покупаются акции Twitter-аккаунтов. Играя на бирже, можно заработать виртуальную валюту, чтобы потом потратить ее на реальные товары в Twistock Store

hr 
a[href='/auth/twitter']
  =image_tag '/assets/sign-in-with-twitter.png', :size=> "250x40" , :style=>'margin-left: 90px'
