p Twistock - это симулятор торговой биржи, где можно покупать и продавать акции Twitter-аккаунтов. Здесь можно заработать виртуальную валюту, чтобы потом тратить ее на реальные товары в Twistock Store.

hr 
a[href='/auth/twitter']
  =image_tag '/assets/sign-in-with-twitter.png', :size=> "250x40" , :style=>'margin-left: 90px'
