.blue-border
  border: 5px solid #3a87ad

.blue-border:hover
  border: 5px solid #22bced

.yellow-border
  border: 5px solid #b99848
.yellow-border:hover
  border: 5px solid #fdbc3c

.green-border
  border: 5px solid #468847
.green-border:hover
  border: 5px solid #46dd67

.red-border
  border: 5px solid #ee5f5b
.red-border:hover
  border: 5px solid #ff5f5b