.well
  background: white

#avatar_div
  text-align: center

.avatar
  width: 80px
  height: 80px
  margin-right: 20px

#available_shares
  display: inline
  color: darkgreen

.table th.mini
  width: 1px

.emitter
  position: fixed
  top: 60px
  height: 1000px

.block
  position: relative
  -webkit-box-shadow: 0px 0px 8px 5px rgba(23, 23, 23, 0.2)
  box-shadow: 0px 0px 8px 5px rgba(23, 23, 23, 0.2)
  margin-bottom: 20px
  padding: 10px 10px 10px 10px

.block:hover
  background: white

.sidebar-nav-fixed
  -webkit-box-shadow: 0px 0px 8px 5px rgba(23, 23, 23, 0.2)
  box-shadow: 0px 0px 8px 5px rgba(23, 23, 23, 0.2)
  background: white

@media only screen and (max-width:700px)
  .sidebar-nav-fixed
    position: static
    width: auto

  #main-content
    margin: 0 0 0 0

  .logo
    margin: 0 0 0 70px

body
  background: url(/assets/background.jpeg) repeat
  z-index: 1

#history-box
  background: white
  padding-left: 50px



.topbar-link
  color: white
  margin-top: 20px

.topbar-link a
  color: white

.btn-go
  color: #12a2df

.btn-go:hover
  text-decoration: underline
  color: #08C

.logo a
  color: white
  text-decoration: none
.logo
  margin-top: 5px
  margin-left: 0px
  width: 100px
  height: 30px


#main-content
  margin-left: 20px