#mobile-logo{
  /* Firefox */
  -moz-transition: all 1s ease;
  /* WebKit */
  -webkit-transition: all 1s ease;
  /* Opera */
  -o-transition: all 1s ease;
  /* Standard */
  transition: all 1s ease;
}

#mobile-logo:hover{
    /* Firefox */
  -moz-transform: rotate(380deg) ;
  /* WebKit */
  -webkit-transform:  rotate(380deg) ;
  /* Opera */
  -o-transform:  rotate(380deg) ;
  /* Standard */
  transform:  rotate(380deg) ;
}