.card {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    position: relative;
    width: 75%;
    height: 200px;
}   
.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s ease-in;
    width: 100%;  
}
.back {
    -webkit-transform: rotateY(180deg);
    overflow: hidden;
    /*background: #7f37c2;*/
    margin-top: -20px;
    margin-bottom: 40px;
}   
.front {
}
section{
    display: inline-block;
    text-align: justify;
    width:100%;
}   
section:hover .back {   
    -webkit-transform: rotateY(0deg);
}
section:hover .front {      
    -webkit-transform: rotateY(-180deg);
}

.btn-center{
    margin-left: 25%;
}

@media all and (max-width: 900px){
    .btn-center{
        width:95%;
        margin-left: 0px;
    }
}